<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:404083870658-hhvkgq33sb769dl098q1b32taeugtt1o.apps.googleusercontent.com</string>
	</array>
</dict>
</plist>
